body {
    margin: 0;
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background: #222;
    padding: 15px;
    font-size: 24px;
}

main {
    margin-top: 40px;
}

button {
    background: #6a5acd;
    border: none;
    padding: 15px 25px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
}